<!DOCTYPE html>
<html>
<head>
  <title>Dennis' prediction market</title>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
</head>
<body ng-app='predictionMarketApp' ng-controller='predictionMarketController'>
  <div id='accounts'>
    <!-- chose user address, show account balance, etc. -->
    <h1>User accounts</h1>
    <p>
    Chosen account: {{account}}<br />
    Balance: {{balance}}<br />
    Select a different account:<br />
    <select ng-model='account' ng-options="a for a in accounts" ng-change='updateBalance()'></select>
    </p>
  </div>
  <div id='questions'>
    <!-- show all current questions and all bets on the question -->
    <h1>Questions</h1>
    <ul>
      <li ng-repeat="q in questions">
      {{q.id}}: {{q.text}}.
      Resolved: {{q.resolved}}. Truth: {{q.truth}}
      </li>
    </ul>
  </div>
</body>
</html>
